body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    background: url(../images/login_bg.jpg) no-repeat center;
    background-size: cover;
}
#formcont-log,#formcont-reg {
    padding: 0 30px;
}
.log-box {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.log-head {
    width: 400px;
    height: 60px;
    background: url(../images/login_title.png) no-repeat center;
}
.reg-page {
    display: none;
}
.right {
    display: flex;
    justify-content: flex-end;
}
.right a{
    font-size: 18px;
}
/* 用定位布局图标 */
.layui-form-item {
    position: relative;
}
.layui-form-item .layui-icon {
    position: absolute;
    left: 4px;
    top: 9px;
}
.layui-input {
    padding-left: 30px!important;
}
.layui-form-item .glyphicon {
    position: absolute;
    right: 6px;
    top: 9px;
}
.layui-form-item span:last-of-type {
   display: none;
}